.course-card {
  display: flex;
  align-items: center;
  border: 1px solid #ebeafcab;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #dec4ff21;
}

.course-card__img {
  width: 62px;
  height: 62px;
  border-radius: 8px;
  margin: 0 16px;
}

.course-card__container {
  margin: 12px 0 26px 0;
}

.course-card__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #2b2d33;
}

.course-card__date {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: #2b2d33b2;
}
